@model RazorTest.Models.Queue

@{
	ViewData["Title"] = "Queue Details";
}

<h2>@Model.QueueName</h2>

@if (TempData["Error"] != null) { <div class="alert alert-danger">@TempData["Error"]</div> }
@if (TempData["Success"] != null) { <div class="alert alert-success">@TempData["Success"]</div> }
@if (TempData["Info"] != null) { <div class="alert alert-info">@TempData["Info"]</div> }

@if (User.IsInRole("Student"))
{
    <form asp-controller="Queues" asp-action="Join" method="post" class="mb-3">
        @Html.AntiForgeryToken()
        <input type="hidden" name="queueId" value="@Model.Id" />
        <button type="submit" class="btn btn-success">Sæt mig i kø</button>
    </form>
}

<h4>Current Students in Queue</h4>

<table class="table">
	<thead>
		<tr>
			<th>Student</th>
			<th>Created</th>
			@if (User.IsInRole("Teacher"))
			{
				<th></th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var entry in Model.QueueEntries.OrderBy(q => q.CreatedAt))
		{
			<tr>
				<td>@entry.Student.Name</td>
				<td>@entry.CreatedAt.ToLocalTime()</td>

				@if (User.IsInRole("Teacher"))
				{
					<td>
						<form asp-controller="QueueEntries" asp-action="Delete" asp-route-id="@entry.Id" method="post">
							<button class="btn btn-danger btn-sm">
								Take / Remove
							</button>
						</form>
					</td>
				}
			</tr>
		}
	</tbody>
</table>
